/****** Header ******/
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} */
/* 
.login-signup-link {
  display: flex;
}

.signup, .login, .logout {
  margin: 0 5px;
  list-style: none;
  text-decoration: none;
  
} */

a {
  text-decoration: none;
}