/******** dashboard show user product ********/

.image-size {
  width: 150px;
  height: 200px;
} 

.card {
  width: 155px;
  align-items: center;
}

.card-site {
  display: flex;
  justify-content: center;
}